@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
body {
    display: flex;
    /*Tornar o 'body' flexivel, facilitando design resposivos*/
    flex: 1;
    /*'flex: 1' faz com que os 'flex-items' tenham o mesmo tamanho*/
    flex-direction: column;
    /*Define em que direção os 'flex-items' serão empilhados no 'flex-container'*/
    align-items: center;
    /*'align-items' é usado para alinha os 'flex-items' verticalmente*/
    justify-content: center;
    /*'justify-content' é usado para alinhar 'flex-lines'*/
    font-family: 'Spartan', Sans-serif;
    background-color: #EB1E17;
}

.container {
    background-color: #FFF;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px inset #000;
    border-radius: 20px;
    padding: 50px;
    width: 50%;
    max-width: 500px;
    margin-top: 5%;
}

p {
    font-size: 16pt;
    /*1 pt = 1.333 px*/
}

input[type=text] {
    border: 1px inset #000;
    border-radius: 5px;
    background-color: #EEE;
    height: 30px;
    font-size: 14pt;
    padding-left: 5px;
}

input[type=button] {
    border: 1px inset #000;
    border-radius: 5px;
    background-color: #EEE;
    width: 100px;
    height: 30px;
}